# Arquivos gerados pelo Maven
target/

# Arquivos de compilação Java
*.class


# Arquivos de configuração específicos de IDEs
.classpath
.project
.settings/
.idea/

# Arquivos de logs e relatórios
*.log
*.html
*.json

# Pasta de relatórios
surefire-reports/
cucumber-reports/
evidencias/


